body {
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    padding: 20px;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.right {
    text-align: right;
    margin-bottom: 20px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.silver {
    background-color: silver;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.big {
    font-size: 20px;
}